{% extends "base.html" %}
{% block title %}Delete poll{% endblock %}
{% block menu %}
    <li><a href="{% url 'poll_view' poll.pk %}">View</a></li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete task "{{ poll }}"?</h1>
    <form method="POST" action="{% url "poll_delete" poll.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Confirm" class="btn btn-danger"></p>
        <p><a href="{% url 'poll_view' poll.pk %}" class="btn btn-default">Cancel</a></p>
    </form>
{% endblock %}
