{% extends 'base.html' %}
{% block title %}{{ poll.text}}{% endblock %}
{% block menu %}
    <li><a href="{% url 'poll_update' poll.pk %}">Edit</a></li>
    <li><a href="{% url 'poll_delete' poll.pk %}">Delete</a></li>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ poll.text}}</h1>
{#        <p>Category: {{ task.description }}</p>#}
        <p>Created by {{ poll }} at {{ poll.created_at|date:'Y-m-d H:i:s' }}</p>
        <div class="pre">{{ poll }}</div>
    </div>

    <h3>Choises:</h3>
    {% for choice in poll.text_poll.all %}
        <div class="task">
            <p><b>{{ choice.option_text }}</b></p>
            <p class="projects-links">
{#                <a href="{% url 'task_view' task.pk %}">More</a>#}
                <li><a href="{% url 'poll_answer' poll.pk %}">Answer</a></li>
                <a href="{% url 'choice_update' choice.pk %}">Edit</a>
                <a href="{% url 'choice_delete' choice.pk %}">Delete</a>
            </p>
        </div>
    {% empty %}
        <p>No choice yet.</p>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <a href="{% url 'choice_add' poll.pk %}"> edd</a>
{#    <form action="{% url 'choice_add' poll.pk %}" method="POST" id="add_choice">#}
{#        {% include 'partial/article_form.html' with button_text='Add' %}#}
{#      </form>#}
{% endblock %}
